<template name="SideNav">
  <nav class="side-nav">
    <ul>
      <li><a href="/recipe-book"><i class="fa fa-list"></i>Recipe Book</a></li>
      <li><a href="/menu"><i class="fa fa-map-o"></i>Menu</a></li>
      <li><a href="/shopping-list"><i class="fa fa-shopping-cart"></i>Shopping list</a></li>
      <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
      <li><a href="/admin/users"><i class="fa fa-users"></i> <span>Users Management</span></a></li>
      <li><a href="/friends"><i class="fa fa-users"></i> <span>Friends</span></a></li>
    </ul>

  </nav>

</template>
